@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html {
   height: 100%;
   box-sizing: border-box;
}

body {
   position: relative;
   min-height: 100%;
   box-sizing: inherit;
   padding-bottom: 6.7rem;
   margin: 0;
   background: #222;
   font-family: 'Work Sans', sans-serif;
   font-weight: 400;
}

.container {
   width: 80%;
   margin: 0 auto;
}

header {
   background: #55d6aa;
}

.clear_fix::after {
   content: '';
   display: table;
   clear: both;
}

.logo {
   float: left;
   padding: 5px 0;
}

nav {
   float: right;
}

nav ul {
   margin: 0;
   padding: 0;
   list-style: none;
}

nav li {
   display: inline-block;
   margin-left: 10px;
   padding-top: 18px;

   position: relative;
}

nav a {
   color: #444;
   text-decoration: none;
   text-transform: uppercase;
}

nav a:hover {
   color: #000;
}

nav a::before {
   content: '';
   display: block;
   height: 5px;
   width: 0;
   top: 5px;
   background-color: #444;

   transition: all ease-in-out 250ms;

   position: absolute;
}

nav a:hover::before {
   width: 100%;
}

nav a.selected::before {
   width: 100%;
   background-color: #666;
}

main {
   padding-bottom: 40px;
   padding-top: 40px;
   color: #BBB;
   font-weight: 500;
}

main p {
   text-indent: 5%;
}

.page-header {
   font-weight: 700;
}

.page-content {
   font-weight: 400;
}

.page-content input {
   display: inline-block;
   margin: 0 auto;
}

footer {
   background: #55d6aa;
   width: 100%;
   height: 40px;
   position: absolute;
   margin: 0 0;
   padding: 0 10%;
   left: 0;
   right: 0;
   bottom: 0;
   font-weight: 600;
   text-align: center;
}

footer a {
   margin: 0 20px;
   text-decoration: none;
   color: #444;
}